
QWidget {
    background-color:khaki;
    color:black;
    font: Arial;
}

QLineEdit {
    background-color: white;
    color: black
}

QPushButton {
    background-color:darkkhaki;
    border: 2px;
    border-color: black;
    padding: 2px;
}

QPushButton:hover {
    background-color: peru;
}
CarpetaTareas QWidget {
    background-color: lightgreen;
    border: 2px;
    border-color: black;
    padding: 5px;
}

CarpetaTareas QPushButton {
    border: 2px;
    border-color: black;
}

CarpetaTareas QPushButton:hover {
    background-color:forestgreen;
}

QCheckBox {
    background-color:mediumseagreen;
    border: 1px;
    border-color: mediumseagreen;
    border-radius: 1px;
}

QCheckBox:hover {
    border-color: black;
}

